.cv-main-container {
  margin-bottom: 200px;
  font-family: "Poppins", sans-serif;
}

.download-here {
  font-size: 45px;
  margin-right: 25px;
  font-family: "Poppins", sans-serif;
}

.white-logo-cv {
  animation: spin 2s linear infinite;
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}

@media screen and (max-width: 768px) {
  .download-here {
    font-size: 30px;
    margin-right: 10px;
  }
  .white-logo-cv {
    width: 30px;
  }
}
