.image-container {
  animation: moveAvatar 6s linear infinite alternate, fadeOut 6s forwards;
}

@keyframes moveAvatar {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(50px);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
