@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

nav {
  z-index: 999;
}

.logo-nav-image {
  width: 28px;
  height: 28px;
}

.logo:hover {
  animation: spin 1s linear infinite;
}

.logo-container:hover .logo-nav-image {
  animation: spin 1s linear infinite;
}

.name {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.linkedinLogo {
  height: 25px;
}

.myCV {
  color: rgb(162, 162, 176);
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

a:hover {
  color: rgb(180, 184, 193) !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
