.footer-container {
  left: 0%;
  right: 0%;
  margin-top: 100px;
  margin-bottom: 60px;
  font-family: "Poppins", sans-serif;
}

.footer-paragraph {
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0 10px;
  font-size: 15px;
}

.myName {
  font-size: 15px;
  font-weight: 900;
}

.arrowUp {
  border: 3px solid white;
  margin-bottom: 30px;
  cursor: pointer;
}

.arrowUp:hover {
  border: 5px solid blue;
}
