.footer-container {
  position: relative;
  bottom: 0;
  left: 0%;
  right: 0%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 60px;
  font-family: "Poppins", sans-serif;
}

.footer-paragraph {
  color: white;
  text-align: center;
  margin: 0 auto;
  max-width: 85%;
  margin-bottom: 20px;
  padding: 0 10px;
  font-size: 14px;
}

.myName {
  font-size: 17px;
  font-weight: 900;
}

.arrowUp {
  border: 3px solid white;
  border-radius: 50%;
  margin-bottom: 30px;
  cursor: pointer;
}

.arrowUp:hover {
  border: 5px solid blue;
}
